@import '../../../../styles/variables.scss';
.switch {
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 24px;
    &_text {
        margin: 3px 0px 3px 45px;
    }
    &-disabled {
        opacity: .5;
    }
    & input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked+.slider {
            background-color: $light_blue;
            &:before {
                transform: translateX(14px);
            }
        }
        &:focus+.slider {
            box-shadow: 0 0 1px $light_blue;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}