.popup {
    position: fixed;
    max-width: 800px;
    width: 500px;
    height: auto;
    max-height: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    transition: all 1s linear;
    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
        transition: all 1s linear;
    }
    &_header {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 20px;
        &__close {
            position: absolute;
            top: -5px;
            right: 0;
            cursor: pointer;
            color: black;
            &:hover {
                color: rgb(27, 72, 237);
            }
        }
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1s linear;
}

.ReactModal__Overlay--after-open {
    transition: opacity 1s linear;
}

.ReactModal__Overlay--before-close {
    transition: opacity 1s linear;
}