.input {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    background: white;
    border-radius: 4px;
    height: 44px;
    outline: none;
    border: 2px solid rgb(23, 112, 255);
    padding: 10px 16px;
    width: 100%;
}