$white: white;
$black: black;
$button_gradient: linear-gradient(90deg, rgba(20, 55, 245, 1) 0%, rgba(58, 132, 247, 1) 100%);
$island_gradient: linear-gradient(45deg, rgb(23, 112, 255) 0%, rgb(20, 61, 245) 100%);
$menu_gradient: linear-gradient(145deg, rgb(23, 112, 255) 0%, rgb(20, 61, 245) 100%);
$light_blue: rgb(23, 112, 255);
$light_green: rgba(39, 174, 96, 0.12);
$light_red: rgba(219, 82, 78, 0.12);