$white: white;
$black: black;
$button_gradient: linear-gradient(90deg, rgba(20, 55, 245, 1) 0%, rgba(58, 132, 247, 1) 100%);
$island_gradient: linear-gradient(45deg, rgb(23, 112, 255) 0%, rgb(20, 61, 245) 100%);
$menu_gradient: linear-gradient(145deg, rgb(23, 112, 255) 0%, rgb(20, 61, 245) 100%);
$blue: rgb(20, 61, 245);
$light_blue: rgb(23, 112, 255);
$light_gray: rgb(197, 197, 197);
$light_green: rgba(39, 174, 96, 0.12);
$light_red: rgba(65, 43, 42, 0.12);
$light_yellow: rgba(255, 217, 18, 0.12);
$box-shadow-input: 0px 4px 4px rgba(51, 51, 51, 0.04),
0px 4px 16px rgba(51, 51, 51, 0.08);
$box-shadow-input-hover: -2px 0px 19px 0px rgba(34, 60, 80, 0.2);
$red: #ff6259;